@{
    ViewBag.Title = "About";
}

<div> 
    <h1>TechnicalStudent</h1>
    <br/>
    <h2>A web application by Engineering students - for engineering students.</h2>
    <br/>
    <span>For the purpose of education & development.</span>
</div>
