@{
    ViewBag.Title = "Random Password Generator";
}

@section Styles {
    <link href="@Url.Content("~/Content/DFT.css")" rel="stylesheet" type="text/css" />
}

<h2 class="text-center">⚠@ViewBag.Title⚠</h2>

@{
    var FontColor = "black";
    string Password = ViewBag.Password;
    var PasswordChars = Password.ToCharArray();

    for (int i = 0; i < PasswordChars.Length; i++)
    {
        if (Char.IsUpper(PasswordChars[i]))
        {
            FontColor = "green";
        }
        if (Char.IsLower(PasswordChars[i]))
        {
            FontColor = "chartreuse ";
        }
        if (Char.IsSymbol(PasswordChars[i]))
        {   
            FontColor = "blue";
        }
        if(Char.IsDigit(PasswordChars[i]))
        {
            FontColor = "red";
        }
        <p style="color: @FontColor">@PasswordChars[i]</p>
    }
}




